@model Core.ViewModels.Account.ChangePassword.AccountChangePasswordApplicationUserViewModel

@{
    ViewBag.Title = "Zmiana hasła";
}
<h4>Zmień swoje hasło na nowe</h4>
<hr />
<div class="row justify-content-start">

    <div class="col-12">
        <div class="row p-3 d-flex">

            <div class="col col-lg-5">
                @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new
                { @class = "form-horizontal", role = "form", id="form" }))
                {

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.AntiForgeryToken()

                    <div class="form-group">
                        @Html.LabelFor(m => m.OldPassword, new { @class = "col-form-label" })
                        @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.OldPassword)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.NewPassword, new { @class = "col-form-label" })
                        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.NewPassword)

                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-form-label" })
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.ConfirmPassword)

                    </div>
                    <div class="form-group">
                        <button type="submit" id="submitButton" class="btn btn-block btn-primary col-12 col-lg-4">
                            <span class="text">Zmień hasło</span>
                            <span class="spinner hidden spinner-border spinner-border-sm" role="status"></span>
                        </button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<script>
    // document ready
    $(function () {
        // wyłacz button
        $("#submitButton").click(function () {
            if ($("#form").valid()) {
                $("#submitButton").attr("disabled", true);
                $("#submitButton").children(".text, .spinner").toggleClass("hidden");
            }
        });
    });
</script>