@model Core.ViewModels.Account.ForgotPassword.AccountForgotPasswordApplicationUserViewModel
@{
    ViewBag.Title = "Zapomniałeś hasła?";
}

<h2>@ViewBag.Title</h2>
<h4>Wprowadź swój adres email.</h4>
<hr />

<div class="col-lg-5">
    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { role = "form" }))
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-form-label" })
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control " })
            @Html.ValidationMessageFor(m => m.Email)
        </div>
        <div class="form-group">
            <button type="submit" id="submitButton" class="btn btn-primary col-12 col-lg-5">
                <span class="text">Wyślij</span>
                <span class="spinner hidden spinner-border spinner-border-sm" role="status"></span>
            </button>
        </div>
    }
</div>

<script>
    // document ready
    $(function() {
        // disable button
        $("#submitButton").click(function() {
            if ($("form").valid()) {
                $("#submitButton").attr("disabled", true);
                $("#submitButton").children(".text, .spinner").toggleClass("hidden");
            }
        });
    });
</script>