@model Core.ViewModels.Account.Login.AccountLoginApplicationUserViewModel
@{
    ViewBag.Title = "Logowanie";
}

<h2>@ViewBag.Title</h2>
<h4>Aby się zalogować proszę podać swój login i hasło</h4>
<hr />

<div class="row">
    <div class="col-lg-5">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 col-form-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 col-form-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10">
                        <div class="form-check-inline">
                            @Html.CheckBoxFor(m => m.RememberMe, new { @class = "form-check-input" })
                            @Html.LabelFor(m => m.RememberMe, new { @class="form-check-label"})
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-12 col-md-10 col-lg-5">
                        <button type="submit" id="submitButton" class="btn btn-block btn-primary">
                            <span class="text">Zaloguj się</span>
                            <span class="spinner hidden spinner-border spinner-border-sm" role="status"></span>
                        </button>
                    </div>
                </div>
                <div class="form-group col">
                    <p>
                        @Html.ActionLink("Zarejestruj się", "Register", "Account", null, new { @class = "btn-link" })
                    </p>
                    <p>
                        @Html.ActionLink("Zapomniałeś hasła?", "ForgotPassword", null, new { @class = "btn-link" })
                    </p>
                </div>

            }
        </section>
    </div>
</div>

<script>
    // document ready
    $(function () {
        // disable button
        $("#submitButton").click(function () {
            if ($("form").valid()) {
                $("#submitButton").attr("disabled", true);
                $("#submitButton").children(".text, .spinner").toggleClass("hidden");
            }
        });
    });
</script>